[submodule "autonomous-airdrop/contracts/lib/forge-std"]
	path = autonomous-airdrop/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "autonomous-airdrop/contracts/lib/openzeppelin-contracts"]
	path = autonomous-airdrop/contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
