[submodule "autonomous-airdrop/contracts/lib/forge-std"]
	path = autonomous-airdrop/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "autonomous-airdrop/contracts/lib/openzeppelin-contracts"]
	path = autonomous-airdrop/contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "autonomous-airdrop-example"]
	path = autonomous-airdrop-example
	url = https://github.com/axiom-crypto/autonomous-airdrop-example
[submodule "governance-params-example"]
	path = governance-params-example
	url = git@github.com:axiom-crypto/governance-params-example.git
[submodule "circuit-runner-example/contract/lib/forge-std"]
	path = circuit-runner-example/contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
